/* Logout.css */
#LogOutButton {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .google-logout-btn {
    background-color: #ffffff;
    color: #757575;
    border: 1px solid #757575;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .google-logout-btn:hover {
    background-color: #757575;
    color: #ffffff;
  }
  
  /* Add more styles as needed */
  